{% extends "blog/base.html" %}

{% block content %}
    <div class="col-md-6 offset-md-3 bg-light p-4 mt-4 rounded">
        <h1><span class="fa fa-user"></span> Sign Up</h1>
        <hr>
        <form method="POST">
        {% csrf_token %}
        {% for field in form %}
            <div class="form-group">
                <label class="col-form-label col-form-label-lg" for="{{ field.id_for_label }}">
                    {% if field.name == 'password1' %}
                        Password
                    {% endif %}
                    {% if field.name == 'password2' %}
                        Confirm Password
                    {% elif field.name != 'password1' %}
                        {{ field.name|title }}
                    {% endif %}
                </label>
                <input class="form-control form-control-lg {%if field.errors %}is-invalid{%endif%}" type="{% if 'password' in field.name %}password{%else%}text{% endif %}" maxlength="30" name="{{ field.html_name }}">
                {%if field.errors %}
                    <div class="invalid-feedback">
                        {% for error in field.errors %}
                            {{ error }}
                        {%endfor%}
                    </div>
                {% endif %}
            </div>
        {% endfor %}
        <button type="submit" class="btn btn-success btn-lg btn-block">Register</button>
        </form>
    </div>
{% endblock %}